(
    input_devices: [
        "Thrustmaster T.16000M",
        "Thrustmaster T.16000M",
    ],
    output_device: "Combined Thrustmaster Joystick",
    key_mappings: {
        (1, BTN_BASE6): BTN_0,
        (0, BTN_BASE6): BTN_BASE6,
        (0, BTN_TOP2): BTN_TOP2,
        (0, BTN_TRIGGER): BTN_TRIGGER,
        (1, BTN_BASE2): BTN_1,
        (0, BTN_BASE4): BTN_BASE4,
        (1, BTN_BASE): BTN_2,
        (0, BTN_BASE5): BTN_BASE5,
        (0, BTN_PINKIE): BTN_PINKIE,
        (1, BTN_TOP): BTN_3,
        (1, Unknown(300)): BTN_4,
        (1, Unknown(301)): BTN_5,
        (0, Unknown(300)): Unknown(300),
        (1, BTN_THUMB2): BTN_6,
        (1, BTN_TOP2): BTN_7,
        (1, BTN_BASE4): BTN_8,
        (0, Unknown(301)): Unknown(301),
        (1, BTN_THUMB): BTN_9,
        (1, BTN_BASE5): BTN_LEFT,
        (1, Unknown(302)): BTN_RIGHT,
        (1, BTN_DEAD): BTN_MIDDLE,
        (0, BTN_BASE): BTN_BASE,
        (0, BTN_BASE3): BTN_BASE3,
        (1, BTN_BASE3): BTN_TOP2,
        (0, BTN_TOP): BTN_TOP,
        (0, Unknown(302)): Unknown(302),
        (1, BTN_TRIGGER): Unknown(303),
        (0, BTN_THUMB2): BTN_THUMB2,
        (1, BTN_PINKIE): Unknown(304),
        (0, BTN_DEAD): BTN_DEAD,
        (0, BTN_THUMB): BTN_THUMB,
        (0, BTN_BASE2): BTN_BASE2,
    },
    axis_mappings: {
        (0, ABS_THROTTLE): ABS_THROTTLE,
        (1, ABS_THROTTLE): ABS_Z,
        (1, ABS_HAT0X): ABS_HAT1X,
        (1, ABS_HAT0Y): ABS_HAT1Y,
        (0, ABS_RZ): ABS_RZ,
        (0, ABS_HAT0Y): ABS_HAT0Y,
        (0, ABS_X): ABS_X,
        (0, ABS_HAT0X): ABS_HAT0X,
        (0, ABS_Y): ABS_Y,
        (1, ABS_X): ABS_RX,
        (1, ABS_Y): ABS_RY,
        (1, ABS_RZ): ABS_BRAKE,
    },
)